@model List<LibraryManagementSystem.Models.Entities.StudentModel>

@{
    ViewData["Title"] = "Students Details";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr/>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form>
    <table id="studentTable" class="table table-bordered table-striped table-responsive table-hover">
        <thead class="bg-dark text-light">
            <tr class="text-center">
                <th>StudentID</th>
                <th>Student Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Registered Date</th>
                <th>Terminated Date</th>
            </tr>
        </thead>

        <tbody>
            @if (Model !=null && Model.Any())
            {
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.StudentID</td>
                        <td>@student.StudentName</td>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.Email</td>
                        <td>@student.Address</td>
                        <td>@student.Telephone</td>
                        <td>@student.RegisteredDate</td>
                        <td>@student.TerminatedDate</td>
                    </tr>
                }
                
            } 
            else
            {
                <tr>
                    <td colspan="9">
                        <div class="text-center">
                            <h6>No Student Records Available!!</h6>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>