@model LibraryManagementSystem.Models.Entities.StudentModel

@{
    ViewData["Title"] = "Student Details";
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr />

<div class="mt-3">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Email) ? "-" : Model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Email) ? "-" : Model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Email) ? "-" : Model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Address) ? "-" : Model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @(string.IsNullOrWhiteSpace(Model.Telephone) ? "-" : Model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class="col-sm-10">
            @(Model.RegisteredDate.HasValue ? Model.RegisteredDate.Value.ToString("MM/dd/yyyy") : "-")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TerminatedDate)
        </dt>
        <dd class="col-sm-10">
            @(Model.TerminatedDate.HasValue ? Model.TerminatedDate.Value.ToString("MM/dd/yyyy") : "-")
        </dd>
    </dl>
    <br />
    <form>
        <input type="hidden" asp-for="StudentID" />
        <a asp-action="Index" class="btn btn-info text-light" aria-label="GoBack">Go Back</a>
    </form>
</div>

