@model List<LibraryManagementSystem.Models.Entities.BookModel>

@{
    ViewData["Title"] = "Home";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>Book Details</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form>
   @*  <div>
        <input asp-for="LastName" class="form-control" />
        <button type="button" class="btn-close float-end"  aria-label="Search"></button>
    </div> *@

    <table id="bookTable" class="table table-bordered table-striped table-responsive table-hover">
        <thead class="bg-dark text-light">
            <tr class="text-center">
                <th>Ref Number</th>
                <th>Title</th>
                <th>Publication</th>
                <th>Author</th>
                <th>Student Name</th>
                <th>Issued Date</th>
                <th>Return Date</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.ReferenceNumber</td>
                        <td>@(string.IsNullOrWhiteSpace(book.Title) ? "-" : book.Title)</td>
                        <td>@(string.IsNullOrWhiteSpace(book.Publication) ? "-" : book.Publication)</td>
                        <td>@(string.IsNullOrWhiteSpace(book.Author) ? "-" : book.Author)</td>
                        <td>@(string.IsNullOrWhiteSpace(book.StudentName) ? "-" : book.StudentName)</td>
                        <td>@(book.IssueDate.HasValue ? book.IssueDate.Value.ToString("MM/dd/yyyy") : "-")</td>
                        <td>@(book.ReturnDate.HasValue ? book.ReturnDate.Value.ToString("MM/dd/yyyy") : "-")</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="7">
                        <div class="text-center">
                            <h6>No Book Records Available!!</h6>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts{
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script>
          $(document).ready(function () {
                $('#bookTable').DataTable({
                    searching: false,
                });
            });
    </script>
}