@model List<LibraryManagementSystem.Models.Entities.BookModel>

@{
    ViewData["Title"] = "Home";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>Book Details</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th>Ref Number</th>
                <th>Title</th>
                <th>Publication</th>
                <th>Author</th>
                <th>Student Name</th>
                <th>Issued Date</th>
                <th>Return Date</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.ReferenceNumber</td>
                        <td>@book.Title</td>
                        <td>@book.Publication</td>
                        <td>@book.Author</td>
                        <td>@book.StudentName</td>
                        <td>@book.IssueDate</td>
                        <td>@book.ReturnDate</td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="7">
                        <div class="text-center">
                            <h6>No Book Records Available!!</h6>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>